<div class="container">
    <div class="primary-frame full-height">
        <div class="square-left">
            <div class="title">
                Uma nova forma de aprender inglês
            </div>
            <div class="text">
                O Word Learner é um aplicativo que permite que você aprenda novas
                 palavras em inglês de forma simples a partir dos sites que você
                  acessa todos os dias.
            </div>
            <div class="button">
                <button *ngIf="!isLogado" class="register" (click)="openRouter('register')">Cadastrar</button>
                <button *ngIf="isLogado" class="register" (click)="openRouter('progress')">Progresso</button>
            </div>
        </div>
        <div class="square-rigth">
            <div class="primary-img">
                <img src="assets/images/caraBonito.png"/>
            </div>
        </div>
    </div>
    <div class="second-frame full-height">
        <div class="box-lefth">
            <div class="title-second">Como funciona</div>
            <div class="operation">
                <div class="box-number">1</div>
                <div class="text-operation">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Mauris efficitur aliquam a</div>
            </div>
            <div class="operation">
                <div class="box-number">2</div>
                <div class="text-operation">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Mauris efficitur aliquam a</div>
            </div>
            <div class="operation">
                <div class="box-number">3</div>
                <div class="text-operation">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Mauris efficitur aliquam a</div>
            </div>
            <div class="operation">
                <div class="box-number">4</div>
                <div class="text-operation">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Mauris efficitur aliquam a</div>
            </div>
            <div class="operation">
                <div class="box-number">5</div>
                <div class="text-operation">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Mauris efficitur aliquam a</div>
            </div>

        </div>
        <div class="box-right">
            <div class="second-img">
                <img src="assets/images/pc.png"/>
            </div>
        </div>
    </div>
    <div class="third-frame full-height">
        <div class="box-bottom">
            <span class="text-bottom">Aumente seu vocabulário de inglês de forma simples e rápida</span>
            <button *ngIf="!isLogado" class="register" (click)="openRouter('register')">Cadastrar</button>
            <button *ngIf="isLogado" class="register" (click)="openRouter('progress')">Progresso</button>
        </div>
    </div>
</div>