.full-height {
    height: 92vh;
}

.primary-frame {
    background-color: rgb(249, 249, 249);
    display: flex;
}

.square-left{
    width: 50%;
}

.title{
    padding-left: 88px;
    color: var(--primary-color);
    font-size: 48px;
    font-family: Mulish;
    font-weight: 600;
    height: 120px;
    width: 424px;
    margin: 175px 0 25px 0;
}
.text{
    padding: 0 88px;
    color: var(--color-text);
    font-weight: 300;
    font-size: 16px;
    font-family: Mulish;
    width: 421px;
    height: 60px;
    margin-bottom: 35px;
}

.square-rigth{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.primary-img{
    margin-top: 135px;
    width: auto;
    height: 550px;
}

img{
    height: 100%;
    width: auto;
}

.second-frame {
    background-color: #FFF;
    display: flex;
}

.third-frame {
    background-color: rgb(249, 249, 249);
    background-image: url('/assets/images/frame.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 186px;
    height: 54px;
    border-radius: 10px;
    border: none;
    background-color: var(--third-color);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.register:hover{
    background-color: #da1e417b;
}

.button{
    padding: 0 88px;
}

.box-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-bottom{
    width: 472px;
    font-size: 48px;
    font-family: Mulish;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}


.box-right{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-lefth{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 88px;
}

.title-second{
    font-family: Mulish;
    font-weight: 600;
    font-size: 48px;
    color: #DA1E40;
    width: 398px;
    height: 76px;
}

.operation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.box-number{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--third-color);
    color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.text-operation{
    font-size: 16px;
    font-family: Mulish;
    font-weight: 400;
    color: var(--color-text);
    width: 449px;
    text-align: justify;
}
