<div class="container">
    <div class="primary-frame full-height">
        <div class="square-left">
            <div class="title">
                Uma nova forma de aprender inglês
            </div>
            <div class="text">
                O Word Learner é um aplicativo que permite que você aprenda novas
                 palavras em inglês de forma simples a partir dos <i>sites</i> que você
                  acessa todos os dias.
            </div>
            <div class="button">
                <button *ngIf="!isLogado" class="register" (click)="openRouter('register')">Cadastrar</button>
                <button *ngIf="isLogado" class="register" (click)="openRouter('progress')">Progresso</button>
            </div>
        </div>
        <div class="square-rigth">
            <div class="primary-img">
                <img src="assets/images/caraBonito.png"/>
            </div>
        </div>
    </div>
    <div class="second-frame full-height">
        <div class="box-lefth">
            <div class="title-second">Como funciona</div>
            <div class="operation">
                <div class="box-number">1</div>
                <div class="text-operation">Primeiro, acesse o nosso <i>site</i> e clique no botão de cadastro. Em seguida, preencha o formulário com suas informações pessoais e crie uma senha. Depois de completar o formulário, verifique seu <i>e-mail</i> e confirme seu cadastro por meio do <i>link</i> enviado</div>
            </div>
            <div class="operation">
                <div class="box-number">2</div>
                <div class="text-operation">Após o cadastro, faça <i>login</i> na plataforma. Vá até a seção de <i>downloads</i> e baixe a extensão para o seu navegador preferido. Siga as instruções fornecidas para instalar a extensão no seu navegador.</div>
            </div>
            <div class="operation">
                <div class="box-number">3</div>
                <div class="text-operation">Abra o navegador e clique no ícone da extensão. Insira suas credenciais (<i>e-mail</i> e senha) para fazer <i>login</i> na extensão.</div>
            </div>
            <div class="operation">
                <div class="box-number">4</div>
                <div class="text-operation">Com a extensão ativada, comece a navegar por qualquer <i>site</i> da <i>web</i>. Sempre que encontrar uma palavra interessante ou desconhecida, clique no botão da extensão.</div>
            </div>
            <div class="operation">
                <div class="box-number">5</div>
                <div class="text-operation">Ao clicar no botão da extensão, o <i>link</i> da página será automaticamente enviado para a nossa aplicação. A palavra será capturada e adicionada à sua lista de palavras descobertas.</div>
            </div>
            <div class="operation">
                <div class="box-number">6</div>
                <div class="text-operation">Acesse a plataforma para ver a lista de palavras descobertas. Cada palavra terá significados, sinônimos e frases de exemplo para facilitar o aprendizado. Utilize esses recursos para aprender e memorizar novas palavras.</div>
            </div>
            <div class="operation">
                <div class="box-number">7</div>
                <div class="text-operation">Acompanhe a quantidade de palavras aprendidas diariamente. Veja estatísticas sobre seu progresso, incluindo palavras aprendidas por semana e por mês. Explore <i>dashboards</i> e relatórios detalhados sobre seu desempenho ao longo do tempo.

                </div>
            </div>

        </div>
        <div class="box-right">
            <div class="second-img">
                <img src="assets/images/pc.png"/>
            </div>
        </div>
    </div>
    <div class="third-frame full-height">
        <div class="box-bottom">
            <span class="text-bottom">Aumente seu vocabulário de inglês de forma simples e rápida</span>
            <button *ngIf="!isLogado" class="register" (click)="openRouter('register')">Cadastrar</button>
            <button *ngIf="isLogado" class="register" (click)="openRouter('progress')">Progresso</button>
        </div>
    </div>
</div>