<div class="content">
    <section class="section about-us-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 side-left">
                    <div class="text">
                        <h1>
                            Então, o que é o<br/>
                            <span style="color: #6c6cff;">Word Learner?</span>
                            <br/>
                        </h1>
                    </div>
                </div>
                <div class="col-lg-6 side-right">
                    <div class="text">
                        <p class="text-justify">O Word Learner é uma aplicação web que permite que você aprenda novas palavras em inglês de forma simples e eficiente. Com o Word Learner, você pode aprender novas palavras em inglês de forma rápida e prática.</p>
                        <button (click)="goToLogin()" class="button">Ir para Login</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-who-are about-us-container">
        <img src="https://www.kindpng.com/picc/m/336-3368435_learning-english-png-transparent-png.png" alt="Learning English Png, Transparent Png@kindpng.com">
        <div class="container" style="margin-left: 50px;">
            <div class="row">
                <div class="col-lg-6 side-left">
                    <div class="text" style="color: var(--primary-color);">
                        <h1>
                            Quem somos?
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 side-right">
                    <div class="text">
                        <p class="text-justify">Somos uma equipe de desenvolvedores que tem como objetivo ajudar pessoas a aprender novas palavras em inglês de forma simples e eficiente.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section about-us-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 side-left">
                    <div class="text" style="color: var(--third-color);">
                        <h1>
                            O que fazemos?
                        </h1>
                    </div>
                </div>
                <div class="col-lg-6 side-right">
                    <div class="text" class="text-justify">
                        <p>Desenvolvemos um aplicativo que permite que você aprenda novas palavras em inglês de forma simples e eficiente. Com o Word Learner, você pode aprender novas palavras em inglês de forma rápida e prática.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section about-us-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 side-left">
                    <div class="text" style="color: rgb(0, 200, 117);">
                        <h1>
                            Como funciona?
                        </h1>
                    </div>
                </div>
                <div class="col-lg-6 side-right">
                    <div class="text">
                        <p class="text-justify">O Word Learner é um aplicativo que permite que você aprenda novas palavras em inglês de forma simples e eficiente. Com o Word Learner, você pode aprender novas palavras em inglês de forma rápida e prática.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>