.team-container {
  text-align: center;
  padding: 20px;
}

.team-container h1 {
  font-family: Poppins,sans-serif !important;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--primary-color);
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  position: relative;
  width: 470px;
  height: 480px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.member-info {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.member-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.member-info p {
  margin: 5px 0 0;
  font-size: 1em;
}
