.header{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    border-bottom: rgb(220, 220, 220) solid 1px;
}

.logo{
    height: 44px;
}