<div class="container">
  <div class="square">
    <span class="title">Registrar uma nova conta</span>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-data">
      <label for="name">Nome</label>
      <input 
        id="name" 
        class="email-register" 
        type="text" 
        formControlName="name" 
        placeholder="Nome">
      <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
        <small class="error-message">Nome é obrigatório.</small>
      </div>
      
      <label for="email">Email</label>
      <input 
        id="email" 
        class="email-register" 
        type="email" 
        formControlName="email" 
        placeholder="Email">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small *ngIf="registerForm.get('email')?.errors?.['required']" class="error-message">Email é obrigatório.</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']" class="error-message">Email inválido.</small>
      </div>
      
      <label for="username">Nome de Usuário</label>
      <input 
        id="username" 
        class="email-register" 
        type="text" 
        formControlName="username" 
        placeholder="Nome de Usuário">
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        <small class="error-message">Nome de usuário é obrigatório.</small>
      </div>
      
      <label for="password">Senha</label>
      
        <input 
          id="password" 
          class="email-register"
          formControlName="password" 
          placeholder="Senha">
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">Senha é obrigatória.</small>
        </div>
      
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small class="error-message">Senha é obrigatória.</small>
      </div>
      
      <label for="profession">Profissão</label>
      <input 
        id="profession" 
        class="email-register" 
        type="text" 
        formControlName="profession" 
        placeholder="Profissão">
      
      <label for="date_of_birth">Data de Nascimento</label>
      <input 
        id="date_of_birth" 
        class="email-register" 
        type="date" 
        formControlName="date_of_birth">
      
      <button id="submit-button" type="submit" class="button" [disabled]="registerForm.invalid">Registrar</button>
    </form>
  </div>
</div>
