<div class="modal-overlay" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h2>{{word.content}}</h2>
    <div class="square-top">
      <div class="box list-top">
        <h3>Significados</h3>
        <p>{{ word.meaning_1 }}</p>
        <p>{{ word.meaning_2 }}</p>
        <p>{{ word.meaning_3 }}</p>
      </div>
      <div class="box list-top">
        <h3>Sinônimos</h3>
        <p>{{ word.synonym_1 }}</p>
        <p>{{ word.synonym_2 }}</p>
        <p>{{ word.synonym_3 }}</p>
      </div>
    </div>
    <div class="square-bottom">
      <div class="box list-bottom">
        <h3>Frases</h3>
        <p>{{ word.phrase_1 }}</p>
        <p>{{ word.phrase_2 }}</p>
        <p>{{ word.phrase_3 }}</p>
      </div>
      <div class="box list-bottom">
        <h3>Anotações</h3>

        <input>
      </div>
    </div>


  </div>
</div>
