<div class="modal-overlay" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="title-word">
      <h2>{{word.content}}</h2>
      <p>{{word.link}}</p>
      <div class="lida">Lida</div>
    </div>
    <div class="square-top">
      <div class="box list-top">
        <h3>Significados</h3>
        <p>{{ word.meaning_1 }}</p>
        <p>{{ word.meaning_2 }}</p>
        <p>{{ word.meaning_3 }}</p>
      </div>
      <div class="box list-top">
        <h3>Sinônimos</h3>
        <p>{{ word.synonym_1 }}</p>
        <p>{{ word.synonym_2 }}</p>
        <p>{{ word.synonym_3 }}</p>
      </div>
    </div>
    <div class="square-bottom">
      <div class="box list-bottom">
        <h3>Frases</h3>
        <p>{{ word.phrase_1 }}</p>
        <p>{{ word.phrase_2 }}</p>
        <p>{{ word.phrase_3 }}</p>
      </div>
      <div class="box list-bottom">
        <h3>Anotações</h3>
          <textarea id="multilineInput" [(ngModel)]="text" rows="6" cols="102"></textarea>
      </div>
    </div>
  </div>
</div>