<!-- Pagina 404 -->
<div class="base-layout-segment-component base-layout-segment-component-1 css-1mo8nb9 e1v1kdfp0">
    <div class="segment-wrapper">
        <div style="height:650px" class="jsx-1ac5dfb0b46a53c2 full-background-text-and-asset-component align-to-logo">
            <style data-emotion="css ttcgo0">
                .css-ttcgo0 {
                    height: 100%;
                    -webkit-background-size: auto 100%;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    -webkit-background-position: center;
                    background-position: center;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                .css-ttcgo0 .full-background-text-and-asset-content {
                    margin: 0 auto;
                    max-width: 1440px;
                    width: 100%;
                    padding: 0px 32px;
                }

                .css-ttcgo0 .full-background-text-and-asset-content.top {
                    -webkit-align-self: flex-start;
                    -ms-flex-item-align: flex-start;
                    align-self: flex-start;
                }

                .css-ttcgo0 .full-background-text-and-asset-content.bottom {
                    -webkit-align-self: flex-end;
                    -ms-flex-item-align: flex-end;
                    align-self: flex-end;
                }
            </style>
            <div class="full-background-text-and-asset css-ttcgo0 ed876ht0" style="background-image:url(&#x27;https://dapulse-res.cloudinary.com/image/upload/f_auto,q_auto/remote_mondaycom_static/uploads/MayKishon/c9a31fc5-9a6a-4a66-a874-ebb37a4159f0_404.png&#x27;)">
                <div class="full-background-text-and-asset-content">
                    <style data-emotion="css 1dkjmkt">
                        .css-1dkjmkt {
                            word-break: break-word;
                            width: 100%;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-flex-direction: column;
                            -ms-flex-direction: column;
                            flex-direction: column;
                        }

                        .css-1dkjmkt.align-items-left {
                            -webkit-align-items: flex-start;
                            -webkit-box-align: flex-start;
                            -ms-flex-align: flex-start;
                            align-items: flex-start;
                        }

                        .css-1dkjmkt.align-items-center {
                            -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                        }

                        .css-1dkjmkt.align-items-center .title-wrapper {
                            width: 100%;
                        }

                        .css-1dkjmkt.align-items-right {
                            -webkit-align-items: flex-end;
                            -webkit-box-align: flex-end;
                            -ms-flex-align: flex-end;
                            align-items: flex-end;
                        }

                        .css-1dkjmkt.with-left-line {
                            border-width: 2px;
                            border-style: solid;
                            padding-left: 32px;
                        }

                        .css-1dkjmkt .full-paragraph-topic-image-and-text-wrapper {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-flex-direction: column;
                            -ms-flex-direction: column;
                            flex-direction: column;
                        }

                        .css-1dkjmkt .full-paragraph-topic-image-wrapper {
                            margin-bottom: 40px;
                        }

                        .css-1dkjmkt .full-paragraph-topic {
                            font-size: 0.875rem;
                            margin-bottom: 16px;
                        }

                        .css-1dkjmkt .title-wrapper {
                            margin-top: 16px;
                            margin-bottom: 16px;
                        }

                        .css-1dkjmkt .icons-wrapper {
                            margin-top: 40px;
                            margin-bottom: 64px;
                        }

                        .css-1dkjmkt .bullets-wrapper {
                            margin-top: 32px;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                        }

                        @media (max-width: 768px) {
                            .css-1dkjmkt .bullets-wrapper.no-mobile-margin {
                                margin-top:0;
                            }
                        }

                        .css-1dkjmkt .bullets-wrapper.left {
                            -webkit-box-pack: start;
                            -ms-flex-pack: start;
                            -webkit-justify-content: flex-start;
                            justify-content: flex-start;
                        }

                        .css-1dkjmkt .bullets-wrapper.left .bullets {
                            -webkit-box-pack: start;
                            -ms-flex-pack: start;
                            -webkit-justify-content: flex-start;
                            justify-content: flex-start;
                        }

                        .css-1dkjmkt .bullets-wrapper.center {
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                        }

                        .css-1dkjmkt .bullets-wrapper.center .bullets {
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                        }

                        .css-1dkjmkt .bullets-wrapper.right {
                            -webkit-box-pack: end;
                            -ms-flex-pack: end;
                            -webkit-justify-content: flex-end;
                            justify-content: flex-end;
                        }

                        .css-1dkjmkt .bullets-wrapper.right .bullets {
                            -webkit-box-pack: end;
                            -ms-flex-pack: end;
                            -webkit-justify-content: flex-end;
                            justify-content: flex-end;
                        }

                        .css-1dkjmkt .full-paragraph-topic-image-wrapper.left:global(.picture-component) {
                            -webkit-box-pack: left;
                            -ms-flex-pack: left;
                            -webkit-justify-content: left;
                            justify-content: left;
                        }

                        .css-1dkjmkt .full-paragraph-topic-image-wrapper.center:global(.picture-component) {
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                        }

                        .css-1dkjmkt .full-paragraph-topic-image-wrapper.right:global(.picture-component) {
                            -webkit-box-pack: right;
                            -ms-flex-pack: right;
                            -webkit-justify-content: right;
                            justify-content: right;
                        }

                        .css-1dkjmkt .button-wrapper {
                            margin-top: 32px;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                        }

                        .css-1dkjmkt .button-wrapper.left {
                            -webkit-box-pack: start;
                            -ms-flex-pack: start;
                            -webkit-justify-content: flex-start;
                            justify-content: flex-start;
                        }

                        .css-1dkjmkt .button-wrapper.center {
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                        }

                        .css-1dkjmkt .button-wrapper.right {
                            -webkit-box-pack: end;
                            -ms-flex-pack: end;
                            -webkit-justify-content: flex-end;
                            justify-content: flex-end;
                        }
                    </style>
                    <div class="full-paragraph align-items-center css-1dkjmkt eo3on790" style="text-align:center">
                        <div class="title-wrapper" style="max-width:min(undefined, 1440px);margin-top:0;min-width:min(undefined, 1440px, calc(100vw - 32px))">
                            <style data-emotion="css 18anjwe">
                                .css-18anjwe .core-title {
                                    font-size: 2.25rem;
                                    font-weight: 400;
                                    line-height: 48px;
                                    word-break: break-word;
                                }

                                .css-18anjwe .core-title.xss {
                                    font-size: 0.6875rem;
                                    line-height: 32px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.xs_m {
                                    font-size: 0.875rem;
                                    line-height: 32px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.xs_ml {
                                    font-size: 1rem;
                                    line-height: 32px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.xs_l {
                                    font-size: 1.125rem;
                                    line-height: 32px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.xs {
                                    font-size: 1.375rem;
                                    line-height: 32px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.sm {
                                    font-size: 1.75rem;
                                    line-height: 40px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.md {
                                    font-size: 2.25rem;
                                    line-height: 48px;
                                    font-weight: 400;
                                }

                                .css-18anjwe .core-title.lg {
                                    font-size: 2.75rem;
                                    line-height: 60px;
                                    font-weight: 700;
                                }

                                .css-18anjwe .core-title.lgr {
                                    font-size: 3.375rem;
                                    line-height: 68px;
                                    font-weight: 700;
                                }

                                .css-18anjwe .core-title.xl {
                                    font-size: 4rem;
                                    line-height: 72px;
                                    font-weight: 700;
                                }

                                .css-18anjwe .core-title.xxl {
                                    font-size: 4.5rem;
                                    line-height: 85px;
                                    font-weight: 700;
                                }

                                .css-18anjwe .title-and-icon-wrapper {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper {
                                    margin-right: 14px;
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-align-items: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper .picture-icon-wrapper {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    height: 32px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper .picture-icon-wrapper .title-icon {
                                    height: 100%;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.xss .picture-icon-wrapper {
                                    height: 8px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.xs_m .picture-icon-wrapper {
                                    height: 12px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.xs .picture-icon-wrapper {
                                    height: 18px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.sm .picture-icon-wrapper {
                                    height: 24px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.md .picture-icon-wrapper {
                                    height: 32px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.lg .picture-icon-wrapper {
                                    height: 38px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.lgr .picture-icon-wrapper {
                                    height: 44px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.xl .picture-icon-wrapper {
                                    height: 56px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.xxl .picture-icon-wrapper {
                                    height: 62px;
                                }

                                .css-18anjwe .title-and-icon-wrapper .icon-wrapper.lgr,.css-18anjwe .title-and-icon-wrapper .icon-wrapper.xl,.css-18anjwe .title-and-icon-wrapper .icon-wrapper.xxl {
                                    margin-right: 20px;
                                }

                                @media (max-width: 450px) {
                                    .css-18anjwe .core-title-container .core-title {
                                        font-size:2.25rem;
                                        line-height: 48px;
                                        font-weight: 400;
                                    }

                                    .css-18anjwe .core-title-container .core-title.md,.css-18anjwe .core-title-container .core-title.lg {
                                        font-size: 1.75rem;
                                        line-height: 40px;
                                        font-weight: 700;
                                    }

                                    .css-18anjwe .core-title-container .core-title.xl,.css-18anjwe .core-title-container .core-title.lgr {
                                        font-size: 2.25rem;
                                        line-height: 48px;
                                        font-weight: 700;
                                    }

                                    .css-18anjwe .core-title-container .core-title.xxl {
                                        font-size: 2.75rem;
                                        line-height: 48px;
                                        font-weight: 700;
                                    }

                                    .css-18anjwe .title-and-icon-wrapper .icon-wrapper .picture-icon-wrapper {
                                        height: 32px;
                                    }

                                    .css-18anjwe .title-and-icon-wrapper .icon-wrapper.md .picture-icon-wrapper,.css-18anjwe .title-and-icon-wrapper .icon-wrapper.lg .picture-icon-wrapper,.css-18anjwe .title-and-icon-wrapper .icon-wrapper.xl .picture-icon-wrapper {
                                        height: 24px;
                                    }
                                }
                            </style>
                            <div class="core-title-container css-18anjwe e168hrcx0">
                                <h1 class="monday-markup-language-component core-title md">
                                    Desculpe,<br>não conseguimos encontrar o que você procurava...
                                </h1>
                            </div>
                        </div>
                        <div class="button-wrapper center">
                            <div class="button css-0 eo7hf3m0">
                                <div class="regular-button lg css-h73pq6 e633rko0">
                                    <a href="http://localhost:4200/" target="_self">
                                        <div class="button-component lg workos-iris with-arrow css-1mxu0su epmjo5x0" style="color:#ffffff" tabindex="0" role="button" data-button-color="workos-iris">
                                            Voltar para a página inicial
                                            <span class="arrow-wrapper lg css-4ztf8m enaldha0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 9 7">
                                                    <path fill-rule="evenodd" d="M4.628.616a.5.5 0 1 0-.64.768L6.203 3.23H.5a.5.5 0 0 0 0 1h5.612L3.988 6a.5.5 0 1 0 .64.769l3.23-2.693a.5.5 0 0 0 0-.768z" clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="error-container">
    <h1>404 - Página Não Encontrada</h1>
    <p>Desculpe, a página que você está procurando não existe.</p>
    <a routerLink="/home">Voltar para a página inicial</a>
</div> -->
<!-- <div class="container">
<div class="row">
    <div class="col-md-12">
    <h1 class="text-center">404</h1>
    <h2 class="text-center">Página não encontrada</h2>
    </div>
</div>
</div> -->
