<div class="container">
    <div class="square">
        <span class="title">Fazer login em sua conta</span>
        
        <div class="register-data">
            <label>Insira seu email</label>
            <input class="email-register" type="email" placeholder="example@email.com">
            <label for="password">Senha:</label>
            <input class="email-register" type="password" placeholder="senha">
            <button class="button">Continuar</button>
        </div>
        <div class="separator">
            <div class="separator-line"></div>
            <div class="text-separator">Ou entrar via</div>
            <div class="separator-line"></div>
        </div>
        <button class="button btn-google">
            <img class="icon-google"
                src="https://dapulse-res.cloudinary.com/image/upload/remote_logos/995426/google-icon.svg"
                alt="Logo do Google" />
            <span>Google</span>
        </button>
        <span>Ainda não tem uma conta? <a routerLink="/user-register">Cadastre-se</a></span>
    </div>
</div>