:root{
    /* colors */
    --primary-color: rgb(87, 155, 252);
    --second-color: rgb(255, 255, 255);
    --third-color: rgb(240, 64, 149);

    --color-text: rgb(0, 0, 0);
    
    /* sizes */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-xxl: 48px;
}