:root{
    /* colors */
    --primary-color: #093163;
    --second-color: rgb(255, 255, 255);
    --third-color: #DA1E40;;

    --color-text: #202020;
    
    /* sizes */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-xxl: 48px;
}